<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <head th:replace="fragments/config :: configFragment">
    </head>

    <body>
    <th:block th:replace="fragments/header :: headerFragment"></th:block>
    <div layout:fragment="contents">
        <form action="/blog" method="POST">
            <label>블로그 제목: </label>
            <input type="text" id="title" name="title"> <br>
            <label>블로그 소개: </label>
            <input type="text" id="introduce" name="introduce"> <br>
            <input type="submit">
        </form>
    </div>
</html>